<header class="header">
    <div class="header__marca">
        <img src="https://clon-coderhouse.netlify.app/imagenes/ch-logo.png" alt="logo">
    </div>
    <nav class="navbar">
        <a class="btn-open-sidebar" href="#sidebar">🚀</a>
        <ul class="navbar__lista" id="sidebar">
          <li>
            <a class="navbar__enlace" href="/">Inicio</a> 
          </li>
          <li>
            <a class="navbar__enlace" href="/productos">Productos</a>
          </li>
          <li>
            <a class="navbar__enlace" href="/carrito">Carrito</a>
          </li>
          <li>
            <a class="navbar__enlace" href="/perfil">Perfil</a>
          </li>
          <li>
            <a class="navbar__enlace btn-close-sidebar" href="#">❌</a>
          </li>
        </ul>
    </nav>
</header>