<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %>
<body>
    <main>
        <section class="section-login">
            <div class="alert">
                User Error Login <a href="/login">Volver</a>
            </div>
        </section>
    </main>
</body>
</html>