<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %>
    <meta http-equiv="Refresh" content="3;url=http://localhost:8080/login">
<body>
    <main>
        <section>
            <div class="alert">
                Hasta Luego <%= nombre ? nombre : '' %>
            </div>
        </section>
    </main>
</body>
</html>