<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %>
    <meta http-equiv="Refresh" content="3;url=/login">
<body>
    <main>
        <section class="section-logout">
            <div class="alert">
                Hasta Luego <%= username ? username : '' %>
            </div>
        </section>
    </main>
</body>
</html>