<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %>
<body>
    <main>
        <section>
            <div class="alert">
                <a href="/login">Iniciar Sesión</a>
            </div>
            <h2>Registro Usuario</h2>
            <form action="/register" method="post">
                <div>
                    <input type="text" name="username" placeholder="Ingresar Username..." value="coderhouse" required>
                </div>
                <div>
                    <input type="password" name="password" placeholder="Ingresar Password..." value="12345678" required>
                </div>
                <button>Enviar</button>
            </form>
        </section>
    </main>
</body>
</html>