<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head") %>

<body>
    <main>
        <section class="section-register">
            <div>
                <div class="alert">
                    <a href="/login">Iniciar Sesión</a>
                </div>
                <h2>Registro Usuario</h2>
                <form action="/register" method="post" id="formulario">
                    <div>
                        <input type="text" name="username" placeholder="Ingresar Username..." value="coderhouse"
                            required>
                    </div>
                    <div>
                        <input type="password" name="password" placeholder="Ingresar Password..." value="12345678"
                            required>
                    </div>
                    <div>
                        <input type="email" name="email" placeholder="Ingresar Email..." value="algun@gmail.com"
                            required>
                    </div>
                    <div>
                        <input type="text" name="nombre" placeholder="Ingresar Nombre..." required value="Leo">
                    </div>
                    <div>
                        <input type="text" name="direccion" placeholder="Ingresar Direccion..." required value="Argentina">
                    </div>
                    <div>
                        <input type="number" name="edad" placeholder="Ingresar Edad..." required value="100">
                    </div>
                    <div>
                        <input type="text" name="telefono" placeholder="Ingresar Telefono..." required value="1102112022">
                    </div>
                    <div>
                        <input type="text" name="avatar" placeholder="Ingresar avatar" required
                            value="https://randomuser.me/api/portraits/lego/3.jpg">
                    </div>
                    <button>Enviar</button>
                </form>
            </div>
        </section>
    </main>
</body>

</html>