<!DOCTYPE html>
<html lang="es">
    <%- include("./partials/head") %>
<body>
    <main>
        <section class="section-login">
            <div class="alert">
                User Error Register <a href="/register">Volver</a>
            </div>
        </section>
    </main>
</body>
</html>