* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgb(98,41,56);
    background: linear-gradient(153deg, rgba(98,41,56,1) 30%, rgba(51,44,68,1) 70%);
    color: #F9F9F9;
}

ul {
    list-style-position: inside;
}

a {
    color:inherit;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #1E1E1E;
}
  
.header__marca {
    height: 35px;
}

.header__marca img {
    display: inline-block;
    width: 100%;
    height: 100%;
}
  
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
  
.navbar__lista {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
}
  
.navbar__enlace:hover {
    color: #DBE03F;
}
  
.btn-open-sidebar {
    display: none;
}
  
.btn-close-sidebar {
    display: none;
}

main {
    min-height: 100vh;
}

.seccion-info {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.detalle {
    background-color: #F9F9F9;
    padding: 1rem;
    border-radius: 1rem;
    color: #323232;
}

.detalle__title {
    margin-bottom: 1rem;
}

.detalle__list {
    list-style: none;
}

.detalle__term {
    display: inline-block;
    color: #622938;
    font-weight: 700;
    line-height: 2.4;
}

.section-chat {
    width: 100%;
    max-width: 1200px;
    min-height: 70vh;
    margin: 0 auto;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.section-chat > div {
    width: 50%;
}

.section-chat h3 {
    margin-bottom: 1rem;
}

#formulario {
    background-color: #F9F9F9;
    border-radius: 10px;
    padding: 1rem;
}

#formulario div {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#formulario label {
    font-size: 20px;
}

#formulario [type="text"], #formulario [type="number"], #formulario [type="email"], #formulario [type="password"] {
    padding: 10px;
    border: 1px solid rgb(98,41,56);
}

#formulario [type="file"] {
    color: rgb(98,41,56);
}

#formulario button {
    display: block;
    width: 100%;
    height: 40px;
    background-color: rgb(98,41,56);
    color: #F9F9F9;
    border: none;
    cursor: pointer;
}

#msjs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.msj {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px 20px;
    background-color: #FAFAFA;
    border-radius: 5px;
    position: relative;
}

.msj__email {
    color: rgb(98,41,56);
    font-weight: 700;
    width: 100%;
}

.msj__fecha {
    color: rgb(98,41,56);
    font-size: 10px;
}

.msj__texto {
    font-style: italic;
    color: #323232;
    width: 100%;
}

.msj__avatar {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    right: 1rem;
    top: 1rem;
}

@media (max-width: 768px) {
    .btn-open-sidebar {
      display: inline-block;
      background-color: #DBE03F;
      border-radius: 5px;
      padding: 0.5rem 1rem;
    }
    
    .navbar__lista {
      background-color: rgba(0,0,0,0.8);
      width: 80%;
      max-width: 400px;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
      padding: 1rem;
      transition: transform 1s;
      z-index: 100;
    }
    
    #sidebar:target .btn-close-sidebar {
      display: block;
    }
    
    #sidebar:target {
      transform: translateX(0);
    }

    .section-chat {
        flex-direction: column;
    }

    .section-chat > div {
        width: 100%;
    }
  }
  